<!DOCTYPE html>
<html lang="en" ng-app="pyMustWatchApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="static/images/favicon.ico">

    <title>py-must-watch - Must-watch videos about Python </title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/styles.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
    <script src="static/js/controller.js"></script>

  </head>

  <body ng-controller="VideoListCtrl">

    <div id="video-player-container" class="jumbotron video-player-container hide">
      <button id="video-player-container-dismiss" type="button" class="jumbotron-close" data-dismiss="jumbotron" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="container video-player-container">
        <div id="player"></div>
      </div>
    </div>

    <div class="container">

      <!-- GitHub Fork Ribbon -->
      <a href="https://github.com/s16h/py-must-watch"><img style="position: absolute; top: 0; left: 0; border: 0; z-index: 1000;" src="https://camo.githubusercontent.com/567c3a48d796e2fc06ea80409cc9dd82bf714434/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_darkblue_121621.png"></a>

      <br />

      <div class="row">
        <div class="col-md-12">
          <div class="input-group input-group-lg">
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </span>
            <input class="form-control" placeholder="Search" type="text" ng-model="query">
          </div>
        </div>
      </div>

      <div class="row">

        <div class="col-md-3 col-sm-6 video-col" ng-repeat="video in videos | filter:query">
          <div class="well well-xxsm well-video-container">
            <div class="video-container-title">
              {{video.title}}
            </div>
            <div class="video-container-thumbnail">
              <img src="{{youtubeThumbnail(video.videos.youtube)}}" width="100%" ng-click="selectVideo(video)">
            </div>
            <div class="video-container-info">
              <p class="video-container-presenter">by {{video.presenter}} ({{video.venue}} {{video.year}})</p>
              <span class="label label-default" ng-repeat-start="tag in video.tags">{{tag}}</span>
              <span ng-repeat-end></span>
            </div>
          </div>
        </div>

      </div>

    </div> <!-- /container -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="static/js/scripts.js"></script>
    <script src="static/js/youtube.js"></script>

    <!-- Google Analytics Script -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-58059250-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
